body{background: #0b1522;}
#d1{color: aliceblue;
font-size: larger;
margin-left: 00px;
margin-top: 150px;}
#d1_1{font-size: large;
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
width: 100%; text-align: center;}
